main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 2.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 60px 0;
  text-align: center;
}
h1 {
  font-size: 2.9em;
}
h2 {
  margin-top: 2.7em;
}
p {
  font-size: 22px;
}
a {
  border-bottom: 1px solid black;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #ff7600;
}
code,
pre {
  color: #d4ff00;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 1.92em;
}
code:before,
code:after {
  content: '\`';
}
